.expense-date {
  display: flex;
  width: 5.5rem;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: rgba(31, 31, 31);
  border: 1px solid white;
  border-radius: 15%;
}
.expense-date_month {
  font-size: 15px;
}
.expense-date_year {
  font-size: 10px;
}
.expense-date_date {
  font-size: 27px;
  font-weight: bold;
}
