.filter {
  margin-bottom: 2.5rem;
}
.filter-year {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.filter-year label {
  color: #ffffff;
  font-weight: bold;
}
.filter-year select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
